**/*.pro.*
build-*/
**/.qmake.stash
**/*.o
src/Makefile
**/CatmarkSubdiv
**/moc*.cpp
**/moc*.h
**/qrc_resources.cpp
src/.vs
**/.vs
**/.vscode/
src/ui_mainwindow.h
**/*.out
src/subdivideCudaLib/subdivide
src/subdivideCudaLib/result.obj
**/*.exe
**/*.exp
**/*.lib
**/*.pdb