**/*.pro.*
build*/
**/.qmake.stash
**/*.o
**/Makefile*
**/CpuSubdivision
**/moc*.cpp
**/moc*.h
**/qrc_resources.cpp
**/.vs
**/.vs
**/.vscode/
**/ui_mainwindow.h
**/*.out
**/*.exe
**/*.exp
**/*.lib
**/*.pdb
**/timings.txt
**/cpuSubdivide